@use '../Sass/generalColors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    text-decoration: none;
    list-style: none;
}

// ----------------------------FlexBox

.d-f-row {
    display: flex;
    flex-direction: row;
}

.d-f-col {
    display: flex;
    flex-direction: column;
}

// ----------------------------Font size

.txt-size {
    font-size: 10px;
}


@import '../Components/Header/header.scss';
@import '../Components/Main/main.scss';
@import '../Components/MainLink/mainLink.scss';