.mainLink {
    width: 100%;

    .mainLink_data {
        position: relative;
        margin-right: 35px;

        .mainLink_data-icon {
            img {
                width: 40px;
                margin: 0 0 20px 10px;
            }
        }

        h3 {
            font-size: 13px;
            font-weight: 800;
        }

        .mainLink_data-txt {
            margin: 14px 0;
        }

        .mainLink_data-button {
            border: none;
            background-color: transparent;
            margin-bottom: 10px;
            font-weight: 700;
            transition: all .4s ease;

            a {
                color: #000;
                position: relative;

                h3 {
                    font-size: 10px;
                }

                img {
                    width: 8px;
                    margin-left: 10px;
                }
            }

            a ::after {
                content: "";
                display: block;
                width: 15px;
                position: absolute;
                top: 18px;
                height: 2px;
                background-color: black;
            }
        }

        .mainLink_data-button:hover {
            filter: invert(29%) sepia(94%) saturate(3093%) hue-rotate(214deg) brightness(99%) contrast(97%);
            transform: scale(1.02);
        }
    }
}

@media screen and (max-width:800px) {

    .mainLink {
        justify-content: space-around;

        .mainLink_data {
            width: 133px;
            margin: 0;
        }
    }
}